<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Harshbardhan Behera</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/harshbardhan-behera-9b4658212" target="_blank" class="">
            <img src="../../assets/LinkedIn_logo_initials.png" alt="" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="https://github.com/HarshBehera" target="_blank" class="">
            <img src="../../assets/github_logo.png" alt="" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="https://auth.geeksforgeeks.org/user/jisustudy1999" target="_blank" class="">
            <img src="../../assets/gfg_logo.png" alt="" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div>
