<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isProjects">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Projects</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isProjects" style="color: white;">></div>
                        <div *ngIf="isProjects" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: start;">
                    <h1>1.MealPlan App:</h1>
                    <p>
                        Part of a team creating the MealPlan App, I integrated the Spoonacular API, cutting manual data
                        entry by 40%. Used Angular
                        for frontend and contributed to SpringBoot backend. Improved data storage with MongoDB and MySQL
                        integration, enhancing
                        user experience and app performance.</p>
                        <h3>Tech Stacks: <b>Angular, Spring Boot, Java, TypeScript, MongoDB, MySQL, RESTAPI </b></h3>
                </div>
                <div style="text-align: start;">
                    <h1>2.Dynamic Web Components:</h1>
                    <p>

                        Created interactive and responsive web components, including a real-time clock, to-do list app
                        with local storage, password
                        validator, login form, and a user-friendly rating system.
                    </p>
                    <h3>Tech Stacks: <b>HTML,CSS and JavaScript </b></h3>
                </div>
            </accordion-group>

            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: start;">

                    <h1>National Institute of Technology Rourkela</h1>
                    <h2>July 2019 to June 2023</h2>
                    <h3>Bachelors of Technology in Electrical Engineering</h3>
                    <h4>CGPA: 6.69/10.00</h4>
                </div>
                <br>
                <br>
                <div style="text-align: start;">

                    <h1>Ispat English Medium School Sector-22 Rourkela</h1>
                    <h2>July 2017 to April 2019</h2>
                    <h3>Intermediate</h3>
                    <h4>Percentage: 74.8%</h4>
                </div>
                <br>
                <br>
                <div style="text-align: start;">
                    <h1>Ispat English Medium School Sector-20 Rourkela</h1>
                    <h2>July 2007 to April 2017</h2>
                    <h3>Matriculation</h3>
                    <h4>Percentage: 88.67%</h4>

                </div>
            </accordion-group>

            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certifications</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationsOpen" style="color: white;">v</div>
                    </div>
                </button>
            </accordion-group>

            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div>
                </button>
                <ul style="display: flex ;">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavScript</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>Java</li>
                    <li>Spring Boot</li>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                </ul>
            </accordion-group>

        </accordion>
    </div>
</div>